*,
::before,
::after {
  box-sizing: border-box;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  background-color: #121314;
  color: #f2f3f4;
  color-scheme: dark;
  font-family: var(--geist-sans);
  font-size: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
a,
button,
label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
button,
label {
  user-select: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
}
button,
input {
  background-color: transparent;
  border: 1px solid transparent;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
:disabled {
  cursor: default;
}
[hidden] {
  display: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  display: none;
}

/** @tailwind base; **/
@tailwind components;
@tailwind utilities;

@layer components {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  @media (min-width: 20em) {
    .pick-saturation {
      height: 10rem;
      width: 18rem;
    }
    .pick-hue,
    .pick-lightness {
      width: 12rem;
    }
  }
  @media (max-width: 20em) {
    .pick-saturation {
      height: calc(60vw - 1rem);
      width: calc(100vw - 1rem);
    }
    .pick-hue,
    .pick-lightness {
      width: calc(100vw - 3rem);
    }
  }
  .pick-hue,
  .pick-lightness {
    cursor: crosshair;
  }
  .pick-hue .w-color-alpha-fill,
  .pick-lightness .w-color-alpha-fill {
    cursor: e-resize;
  }
}

@layer utilities {
  .overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .no-outline {
    outline: 0;
  }
  @media (max-width: 20em) {
    .unresponsive {
      display: none;
    }
  }
}
