*,
::before,
::after {
  box-sizing: border-box;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  background-color: #121314;
  color: #f2f3f4;
  color-scheme: dark;
  font-family: var(--geist-sans);
  font-size: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
a,
button,
label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  background-color: transparent;
}
ol,
ul {
  list-style: none;
}
:disabled {
  cursor: default;
}
[hidden] {
  display: none;
}

/** @tailwind base; **/
@tailwind components;
@tailwind utilities;

@layer components {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  @media (min-width: 24em) {
    .pick-saturation {
      height: 16rem;
      width: 16rem;
    }
    .pick-hue,
    .pick-lightness {
      width: 16rem;
    }
  }
  @media (max-width: 24em) {
    .pick-saturation {
      height: calc(100vw - 2rem);
      width: calc(100vw - 2rem);
    }
    .pick-hue,
    .pick-lightness {
      width: calc(100vw - 2rem);
    }
    .input-hsl.flex-row,
    .input-rgb.flex-row {
      flex-direction: column;
    }
    .input-hex input,
    .input-hsl input,
    .input-rgb input,
    .input-hex .w-1\/4,
    .input-hsl .w-1\/4,
    .input-rgb .w-1\/4 {
      width: 100%;
    }
  }
}

@layer utilities {
  .overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .no-outline {
    outline: 0;
  }
}
