@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--geist-sans);
  --font-mono: var(--geist-mono);
}

@layer base {
  a,
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .h-svh-1\/2 {
    height: 50svh;
  }
  .frame {
    overflow: hidden;
    padding-top: 42.85%;
    position: relative;
  }
  .frame > * {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}

@layer components {
  .action {
    border-radius: inherit;
  }
  .action:focus-visible {
    position: relative;
    z-index: 2;
  }
  .action:hover,
  .action:focus {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-600);
  }
  .action:not(:focus-visible):active {
    background-color: var(--color-neutral-300);
    color: var(--color-neutral-700);
  }
  .dark .action:hover,
  .dark .action:focus {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-300);
  }
  .dark .action:not(:focus-visible):active {
    background-color: var(--color-neutral-700);
    color: var(--color-neutral-200);
  }

  .slider,
  .slider::-webkit-slider-runnable-track,
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    cursor: crosshair;
  }
  .slider::-webkit-slider-thumb {
    background-color: currentColor;
    border-radius: 50%;
    cursor: e-resize;
    height: 1.25rem;
    width: 1.25rem;
  }
  .slider::-moz-range-track,
  .slider::-moz-range-thumb {
    -moz-appearance: none;
    cursor: crosshair;
  }
  .slider::-moz-range-thumb {
    background-color: currentColor;
    border-radius: 50%;
    cursor: e-resize;
    height: 1.25rem;
    width: 1.25rem;
  }
}
